*{

margin:0;
padding:0;
box-sizing:border-box;

}


html{

scroll-behavior:smooth;

}


body{

font-family:'Poppins',sans-serif;

background:
linear-gradient(
180deg,
#ffdce8,
#fff6fb,
#ffeaf7,
#ffffff
);

overflow-x:hidden;

}



.page{

min-height:100vh;

padding:80px 25px;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

}



.hero h1{

font-family:'Pacifico',cursive;

font-size:50px;

color:#ff4d94;

margin-bottom:20px;

}



h2{

color:#ff4d94;
margin-bottom:20px;

}



p{

line-height:1.8;

}


button{


padding:15px 25px;

margin-top:25px;

border:none;
border-radius:30px;

background:#ff4d94;

color:white;

font-size:16px;

cursor:pointer;

box-shadow:0 10px 20px rgba(255,77,148,.3);

}



.card{


width:100%;

padding:30px;

border-radius:30px;

background:rgba(255,255,255,.7);

backdrop-filter:blur(10px);


box-shadow:
0 10px 30px rgba(0,0,0,.08);


}



.photo-card{

margin-top:30px;

width:100%;

}


.photo-card img{


width:100%;

border-radius:30px;


box-shadow:
0 15px 35px rgba(255,77,148,.2);


}



.photo-card p{

margin-top:15px;

font-size:16px;

}



.message{

background:white;

padding:20px;

margin-top:15px;

border-radius:20px;

width:100%;

box-shadow:
0 5px 15px rgba(0,0,0,.05);


text-align:left;


}



ul{

text-align:left;
line-height:2;

}



.final{

background:
linear-gradient(
180deg,
#ff8cc3,
#ff6fa5,
#ff4d94
);


color:white;


}



.final h1{

font-family:'Pacifico',cursive;

margin-bottom:30px;

}



.final-photo{


width:80%;

border-radius:30px;

margin-bottom:25px;

box-shadow:
0 0 30px rgba(255,255,255,.4);


}



.final h2{

color:white;

margin-top:25px;

line-height:1.7;

}



.love{

position:fixed;

top:-10px;

font-size:20px;

animation:fall linear forwards;

z-index:999;

}



@keyframes fall{

to{

transform:
translateY(120vh);

}

}



@media(max-width:768px){

.hero h1{

font-size:40px;

}


button{

width:100%;

}


}
